@media screen and (min-width: 320px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-item {
    height: 622px;
    margin-top: 30px;
    &:first-child {
      margin-top: 0px;
    }
    width: 93.75vw;
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .team-picture {
    width: 93.75vw;
    height: 460px;
  }
  .team-text {
    padding: 30px 32px;
    text-align: center;
  }
  .team {
    background: #f5f4fa;
  }
  .teammate-name {
    @include font(16px, 500, 1.18);
    color: var(--forth-text-color);
    margin-bottom: 10px;
  }
  .teammate-description {
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    margin-left: -30px;
    margin-top: -30px;
  }
  .team-item {
    height: 536px;
    margin-left: 30px;
    margin-top: 30px;
    &:first-child {
      margin-top: 30px;
    }
    width: 354px;
  }
  .team-picture {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    margin-left: -30px;
    margin-top: -30px;
  }
  .team-item {
    // flex-basis: calc((100% - 120px) / 4);чи правильно технічно,що необхідність цієї формули втрачається через задану ширину елемента
    margin-left: 30px;
    margin-top: 30px;
    width: 270px;
    height: 428px;
  }
  .team-picture {
    width: 270px;
    height: 260px;
  }
}
